{% extends 'base.html' %}
{% block content %}
  <div class="container is-flex is-align-items-center is-justify-content-center main-index-container">
    <div class="main-page-content is-flex is-align-items-center is-gap-3 is-justify-content-center is-flex-direction-column">
      <figure class="image is-128x128"><img src="{{ url_for('static', filename='images/logo-gl.png') }}" /></figure>
      <h1 class="is-family-primary is-uppercase has-text-weight-bold is-size-1">chemquest</h1>
      <p class="is-size-5 is-uppercase">Каждая реакция — шаг к победе!</p>
      <a href="/game" class="button is-primary is-large is-rounded">ИГРАТЬ</a>
    </div>
  </div>
{% endblock %}